{
    "url": "URL",
    "token": "TOKEN",
    "updateInterval": 60,
    "namespaces": [
        "prod", "backup"
    ],
    "services": [
        {
            "name": "DuckDuckGo",
            "description": "The search engine",
            "link": "https://duckduckgo.com/"
        }
    ]
}
