<!DOCTYPE html>

<html>
    <head>
        <title>DTek Links</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <main>
            <h1>DTek Links</h1>

            <p>List of services hosted by the student division and useful links.</p>

            <div class="cardholder">
                {{ range . }}
                <div class="card">
                    <h2><a href={{ .Link }}>{{ .Name }}</a></h2>
                    <p>{{ .Description }}</p>
                </div>
                {{ end }}
            </div>
        </main>
    </body>
</html>
