<!DOCTYPE html>

<html>
    <head>
        <title>{{.Name}}</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
		<link rel="icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="stylesheet" href="/static/style.css">
        <script src="/static/index.js"></script>
    </head>
    <body>
        <template id="boardTemplate">
            <div class="board">
                <h2 class="name"></h2>
                <div class="cardHolder"></div>
            </div>
        </template>
        <template id="cardTemplate">
            <a class="card">
                <h2 class="name"></h2>
                <p class="description"></p>
            </a>
        </template>
        <main>
            <h1>{{.Name}}</h1>

            <p>{{.Description}}</p>

            <div id="errorBox" hidden>
                <h2>Error</h2>
                <p id="errorMessage"></p>
            </div>
            <div id="boardHolder" class="boardHolder"></div>
        </main>
    </body>
</html>
